<MudPaper Class="pa-4 mb-12 mud-error">
    <MudText Typo="Typo.h6">@Localizer["Something went wrong. Please try again in a few minutes or contact support"]</MudText>
    <MudText Typo="Typo.body1" Class="pt-4 pl-4">@ErrorContext.Message</MudText>
</MudPaper>

<div style="text-align: center">
    <MudImage Fluid="true" Src="/images/error.svg" Width="400" aria-hidden="true" />
</div>