@page "/error/404"

<MudPaper Class="pa-4 mb-12 mud-warning">
    <MudText Typo="Typo.h6">@Localizer["Sorry, there's nothing at this address."]</MudText>
</MudPaper>

<div style="text-align: center">
    <MudImage Fluid="true" Src="/images/lost.svg" Width="400" aria-hidden="true" />
</div>