@page "/error"

<MudPaper Class="pa-4 mb-12 mud-error">
    <MudText Typo="Typo.h6">@Localizer["Something went wrong with our cloud services. Please try again in a few minutes or contact support."]</MudText>
</MudPaper>

<div style="text-align: center">
    <MudImage Fluid="true" Src="/images/error.svg" Width="400" aria-hidden="true" />
</div>