<div class="mobile-nav">
    <MudAppBar Bottom="true" Fixed="true" Elevation="1">
        <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home" Style="width: 54px;" />
        <MudSpacer />
        <MudNavLink Href="/movies" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Movie" Style="width: 54px;" />
    </MudAppBar>
</div>