@page "/error/unauthorized"

<MudPaper Class="pa-4 mb-12 mud-warning">
    <MudText Typo="Typo.h6">@Localizer["You are not authorized to perform this action."]</MudText>
</MudPaper>

<div style="text-align: center">
    <MudImage Fluid="true" Src="/images/unauthorized.svg" Width="400" aria-hidden="true" />
</div>